In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
data = pd.read_csv(r'C:\Ran\Berkeley\IEOR\290\Project\Data\TrainingDatasetV2.csv', encoding = 'latin1')

D:\Anaconda\envs\data-x\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (12,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data = data[~data.Role.str.contains("intern")] # Removing interns

In [4]:
data['Industry'].unique()

array(['541512', '334413', '334210', '511210', '33411', '334112',
       '334220', '999977', '519130', '517210', '333314', '51', '333316',
       '334419', '54', 'FALSE', '334412', nan, 517210.0, 51.0, 334210.0,
       511210.0, 334220.0, 334413.0, 519130.0, 334112.0, 541512.0,
       33411.0, 333316.0, 333314.0, 999977.0, 334419.0], dtype=object)

In [5]:
data['Industry'] = data['Industry'].astype(str).replace({'541512': 'Computer Systems Design', 
                          '541512.0': 'Computer Systems Design',
                          '334413': 'Semiconductor Manufacturing', 
                          '334413.0': 'Semiconductor Manufacturing',
                          '334210': 'Carrier equipment', 
                          '334210.0': 'Carrier equipment',
                          '511210':'Software development and publishing',
                          '511210.0':'Software development and publishing',
                          '33411':'Computer Manufacturing', 
                          '33411.0':'Computer Manufacturing',
                          '334112':'CD-ROM drives manufacturing', 
                          '334112.0':'CD-ROM drives manufacturing',
                          '334220':'Radio manufacturing', 
                          '334220.0':'Radio manufacturing', 
                          '999977':'Nonclassifiable Establishments' , 
                          '999977.0':'Nonclassifiable Establishments' ,
                          '519130':'Internet Broadcasting', 
                          '519130.0':'Internet Broadcasting',
                          '517210':'Petroleum Products', 
                          '517210.0':'Petroleum Products',
                          '333314':'Optical Device Manufacturing', 
                          '333314.0':'Optical Device Manufacturing',
                          '51': 'Information and Cultural Industries', 
                          '51.0': 'Information and Cultural Industries', 
                          '333316': 'Photo Equipment Manufacturing', 
                          '333316.0': 'Photo Equipment Manufacturing',                               
                          '334419': 'Other Manufacturing', 
                          '334419.0': 'Other Manufacturing',
                          '334412': 'Circuit Board Manufacturing', 
                          '334412.0': 'Circuit Board Manufacturing', 
                          '54': 'Professional, Scientific, and Technical Service', 
                          })

In [6]:
data['Industry'].unique()

array(['Computer Systems Design', 'Semiconductor Manufacturing',
       'Carrier equipment', 'Software development and publishing',
       'Computer Manufacturing', 'CD-ROM drives manufacturing',
       'Radio manufacturing', 'Nonclassifiable Establishments',
       'Internet Broadcasting', 'Petroleum Products',
       'Optical Device Manufacturing',
       'Information and Cultural Industries',
       'Photo Equipment Manufacturing', 'Other Manufacturing',
       'Professional, Scientific, and Technical Service', 'FALSE',
       'Circuit Board Manufacturing', 'nan'], dtype=object)

In [7]:
data['Length'] = data['Length'].abs() #Replacing negative lengths

In [8]:
data['Location'].value_counts().loc[lambda x : x >100]

san francisco bay area                 14189
san jose, ca                            7798
mountain view, ca                       5152
san jose                                3099
san jose, california                    1753
santa clara, ca                         1742
mountain view, california                906
milpitas, ca                             852
mountain view                            802
cupertino, ca                            800
greater san diego area                   741
palo alto, ca                            702
bengaluru area, india                    659
santa clara, california                  484
santa clara                              480
pune area, india                         465
raleigh-durham, north carolina area      437
san francisco, ca                        391
redwood shores, ca                       387
portland, oregon area                    362
united states                            342
bangalore                                323
san jose ca                              292
san francisco                            281
folsom, ca                               279
palo alto                                260
greater los angeles area                 259
hillsboro, or                            257
san ramon, ca                            244
dallas/fort worth area                   238
                                       ...
singapore                                186
san mateo, ca                            179
hillsboro, oregon                        179
paris area, france                       179
chandler, az                             178
folsom, california                       173
san jose,ca                              173
palo alto, california                    169
greater atlanta area                     159
san diego, ca                            153
dublin, ireland                          146
greater boston area                      140
irvine, ca                               138
san diego                                136
hyderabad area, india                    133
cupertino                                131
tokyo, japan                             131
greater seattle area                     129
beijing city, china                      124
pleasanton, ca                           123
phoenix, arizona area                    122
toronto, canada area                     121
mountain view ca                         120
culver city, ca                          118
austin, texas area                       115
stockholm, sweden                        114
shanghai city, china                     106
chandler, arizona                        104
fremont, ca                              103
reading, united kingdom                  103
Name: Location, Length: 72, dtype: int64

In [9]:
data['Location Flag'] = 0

data['Location'] = data['Location'].astype(str)#To make iterable

for idx, location in data['Location'].iteritems():
    
    if 'ca' in location or 'california' in location or 'bay' in location or 'francisco' in location \
        or 'san jose' in location or 'silicon valley' in location or 'cupertino' in location or 'palo alto'in location\
        or 'redwood' in location or 'clara' in location or 'mountain view' in location or location == 'nan':
        
        if 'carolina' in location or 'rica' in location or 'chicago' in location or 'africa' in location or 'irvine'\
            in location or 'angeles' in location or 'canada' in location or 'dominican' in location: #Edge cases
            data['Location Flag'][idx] = 0
        else:
            data['Location Flag'][idx] = 1 #Location is within 'bay area'
        
    else:
        data['Location Flag'][idx] = 0

# Warning: Takes 30 min to run

D:\Anaconda\envs\data-x\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
D:\Anaconda\envs\data-x\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Anaconda\envs\data-x\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [10]:
dataV3 = data[data['Location Flag'] == 1]

print("V2 shape", data.shape)
print("V3 shape", dataV3.shape)

V2 shape (95770, 30)
V3 shape (76911, 30)

In [14]:
dataV3.drop(['Location Flag'], axis = 1, inplace = True)

D:\Anaconda\envs\data-x\lib\site-packages\pandas\core\frame.py:3930: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [16]:
dataV3.head()

,ID,Birth Year,Gender Flag,Skillset1,Skillset1 Weight,Skillset2,Skillset2 Weight,City of profile,Country of profile,Education,...,Company,Company_Norm,Ticker,Exchange,Location,Industry,Layoff Date,Company Name,Employees Affected,laid_off
0,6b89d91d-7b71-37fe-bb4c-0084018d63c0,2001,0,Software Engineering,0.570285,Web Development,0.277136,San Ramon,United States,0,...,VMware,VMware,VMW,XNYS,"san francisco, ca",Computer Systems Design,3/12/2018,"VMware, Inc",159,0.0
1,6b89d91d-7b71-37fe-bb4c-0084018d63c0,2001,0,Software Engineering,0.570285,Web Development,0.277136,San Ramon,United States,0,...,VMware,VMware,VMW,XNYS,"san francisco, ca",Computer Systems Design,3/28/2016,"VMware, Inc",170,0.0
11,a8dc3d34-5108-365a-9625-6711be684d92,1979,0,Software Engineering,0.949158,Electrical Engineering,0.033769,San Francisco,United States,4,...,Cisco Systems,Cisco Systems,CSCO,XNAS,nan,Carrier equipment,1/17/2017,"Cisco Systems, Inc.",25,0.0
12,a8dc3d34-5108-365a-9625-6711be684d92,1979,0,Software Engineering,0.949158,Electrical Engineering,0.033769,San Francisco,United States,4,...,Cisco Systems,Cisco Systems,CSCO,XNAS,nan,Carrier equipment,1/20/2016,"Cisco Systems, Inc.",123,0.0
13,a8dc3d34-5108-365a-9625-6711be684d92,1979,0,Software Engineering,0.949158,Electrical Engineering,0.033769,San Francisco,United States,4,...,Cisco Systems,Cisco Systems,CSCO,XNAS,nan,Carrier equipment,10/10/2014,"Cisco Systems, Inc.",1005,0.0

In [15]:
len(dataV3[dataV3['laid_off'] == 1])

5657

In [17]:
dataV3.to_csv(r'C:\Ran\Berkeley\IEOR\290\Project\Data\TrainingDatasetV3.csv')