In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('/Users/Jade/Desktop/NewDataSet.csv',encoding = "latin1")
data.head()

/Users/Jade/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,ID,Birth Year,Gender Flag,Skillset1,Skillset1 Weight,Skillset2,Skillset2 Weight,City of profile,Country of profile,...,DegreeType,EliteFlag,Dummy1,Dummy2,Dummy3,Dummy4,Layoff Date,Company Name,Employees Affected,laid_off
0,6,d5dc4adf-7444-38c2-84d7-10dcaa5cba78,2001,2,Web Design,0.868526,Digital Marketing,0.085376,San Francisco,United States,...,NaN,False,NaN,NaN,BBG009S3NB30,1.53691E+12,4/3/2017,Google,104,0
1,7,d5dc4adf-7444-38c2-84d7-10dcaa5cba78,2001,2,Web Design,0.868526,Digital Marketing,0.085376,San Francisco,United States,...,NaN,False,NaN,NaN,BBG009S3NB30,1.53691E+12,3/13/2017,Google,94,0
2,8,a08647eb-c02a-3f3b-9212-5e99c5821621,None,2,IT Management and Support,0.480207,Technical Product Management,0.329701,Detroit,United States,...,NaN,False,NaN,NaN,BBG000BWXBC2,1.53701E+12,4/15/2016,Walmart,607,0
3,9,a08647eb-c02a-3f3b-9212-5e99c5821621,None,2,IT Management and Support,0.480207,Technical Product Management,0.329701,Detroit,United States,...,NaN,False,NaN,NaN,BBG000BWXBC2,1.53701E+12,3/31/2017,Walmart,174,0
4,23,04f6646b-fdf1-3098-8112-ab9b1a3cb87f,1985,2,Software Engineering,0.985448,Web Development,0.006848,Mountain View,United States,...,NaN,False,NaN,NaN,BBG000BQLTW7,1.53883E+12,10/31/2017,"Oracle America, Inc.",964,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68171 entries, 0 to 68170
Data columns (total 38 columns):
Unnamed: 0            68171 non-null int64
ID                    68171 non-null object
Birth Year            68171 non-null object
Gender Flag           68171 non-null int64
Skillset1             68171 non-null object
Skillset1 Weight      68171 non-null float64
Skillset2             68171 non-null object
Skillset2 Weight      68171 non-null float64
City of profile       61905 non-null object
Country of profile    68171 non-null object
Education             68171 non-null int64
Elite Institution     68171 non-null bool
Start Date            68171 non-null object
StartFlag             68171 non-null bool
End Date              68171 non-null object
EndFlag               68171 non-null bool
CurrentEmployFlag     68171 non-null bool
Length                68171 non-null int64
Role                  68171 non-null object
Dept                  42013 non-null object
Company               68171 non-null object
Company_Norm          68171 non-null object
Ticker                68160 non-null object
Exchange              68171 non-null object
PublicFlag            68171 non-null bool
Location              44112 non-null object
Industry              56029 non-null float64
EducationFlag         68171 non-null bool
DegreeType            2 non-null float64
EliteFlag             68171 non-null bool
Dummy1                0 non-null float64
Dummy2                0 non-null float64
Dummy3                68158 non-null object
Dummy4                68171 non-null object
Layoff Date           68171 non-null object
Company Name          68171 non-null object
Employees Affected    68171 non-null int64
laid_off              68171 non-null int64
dtypes: bool(7), float64(6), int64(6), object(19)
memory usage: 16.6+ MB

In [4]:
# drop useless features
data = data.drop(['Dummy1','Dummy2','Dummy3','Dummy4','EliteFlag','DegreeType','EducationFlag','PublicFlag','Exchange','Ticker','Company_Norm','Company','StartFlag','EndFlag','CurrentEmployFlag','Unnamed: 0'],axis = 1)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68171 entries, 0 to 68170
Data columns (total 22 columns):
ID                    68171 non-null object
Birth Year            68171 non-null object
Gender Flag           68171 non-null int64
Skillset1             68171 non-null object
Skillset1 Weight      68171 non-null float64
Skillset2             68171 non-null object
Skillset2 Weight      68171 non-null float64
City of profile       61905 non-null object
Country of profile    68171 non-null object
Education             68171 non-null int64
Elite Institution     68171 non-null bool
Start Date            68171 non-null object
End Date              68171 non-null object
Length                68171 non-null int64
Role                  68171 non-null object
Dept                  42013 non-null object
Location              44112 non-null object
Industry              56029 non-null float64
Layoff Date           68171 non-null object
Company Name          68171 non-null object
Employees Affected    68171 non-null int64
laid_off              68171 non-null int64
dtypes: bool(1), float64(3), int64(5), object(13)
memory usage: 11.0+ MB

# Feature Engineering

## Age

In [6]:
# convert birth year to age
# count how many None in Birth Year
data[['Birth Year']].eq('None').sum()

Birth Year    81
dtype: int64

In [7]:
# Delete the rows where birth year = None and convert to age
data = data[data['Birth Year']!='None']
data['Age'] = 2018 - data['Birth Year'].astype('int')

## Elite Institute

In [8]:
# convert true and flase to 1 and 0
data['Elite Institution'] = data['Elite Institution'].astype('uint8')

## Skillset

In [9]:
data['Skillset1'] = data['Skillset1'].astype(str)
data['Skillset2'] = data['Skillset2'].astype(str)

In [10]:
data.loc[data['Skillset1'].str.contains('Human Resources',case = False),'Skillset1'] = 'Human Resources'
data.loc[data['Skillset2'].str.contains('Human Resources',case = False),'Skillset2'] = 'Human Resources'
data.loc[data['Skillset1'].str.contains('Coaching',case = False),'Skillset1'] = 'Human Resources'
data.loc[data['Skillset2'].str.contains('Coaching',case = False),'Skillset2'] = 'Human Resources'
data.loc[data['Skillset1'].str.contains('Education',case = False),'Skillset1'] = 'Human Resources'
data.loc[data['Skillset2'].str.contains('Education',case = False),'Skillset2'] = 'Human Resources'
data.loc[data['Skillset1'].str.contains('Recruiting',case = False),'Skillset1'] = 'Human Resources'
data.loc[data['Skillset2'].str.contains('Recruiting',case = False),'Skillset2'] = 'Human Resources'

In [11]:
data.loc[data['Skillset1'].str.contains('Sales' or 'CRM',case = False),'Skillset1'] = 'Sales'
data.loc[data['Skillset2'].str.contains('Sales' or 'CRM',case = False),'Skillset2'] = 'Sales'

In [12]:
data.loc[data['Skillset1'].str.contains('Construction',case = False),'Skillset1'] = 'Industrial Management'
data.loc[data['Skillset2'].str.contains('Construction',case = False),'Skillset2'] = 'Industrial Management'

In [13]:
data.loc[data['Skillset1'].str.contains('Product Management',case = False),'Skillset1'] = 'Product Management'
data.loc[data['Skillset2'].str.contains('Product Management',case = False),'Skillset2'] = 'Product Management'

In [14]:
data.loc[data['Skillset1'].str.contains('Middle Management',case = False),'Skillset1'] = 'Administration'
data.loc[data['Skillset2'].str.contains('Middle Management',case = False),'Skillset2'] = 'Administration'

In [15]:
data.loc[data['Skillset1'].str.contains('Pharmaceutical',case = False),'Skillset1'] = 'Healthcare'
data.loc[data['Skillset2'].str.contains('Pharmaceutical',case = False),'Skillset2'] = 'Healthcare'

In [16]:
data.loc[data['Skillset1'].str.contains('Accounting',case = False),'Skillset1'] = 'Finance'
data.loc[data['Skillset2'].str.contains('Accounting',case = False),'Skillset2'] = 'Finance'
data.loc[data['Skillset1'].str.contains('Banking',case = False),'Skillset1'] = 'Finance'
data.loc[data['Skillset2'].str.contains('Banking',case = False),'Skillset2'] = 'Finance'

In [17]:
data.loc[data['Skillset1'].str.contains('Graphic',case = False),'Skillset1'] = 'Design'
data.loc[data['Skillset2'].str.contains('Graphic',case = False),'Skillset2'] = 'Design'
data.loc[data['Skillset1'].str.contains('Visual',case = False),'Skillset1'] = 'Design'
data.loc[data['Skillset2'].str.contains('Visual',case = False),'Skillset2'] = 'Design'

In [18]:
data['Skillset1'].unique()

array(['Web Design', 'Software Engineering', 'Data Analysis',
       'Human Resources', 'Finance', 'Product Management', 'Sales',
       'Web Development', 'Digital Marketing', 'Operations Management',
       'Administration', 'Design', 'Manufacturing and Process Management',
       'Hospitality', 'Real Estate', 'Retail and Fashion', 'Healthcare',
       'Logistics', 'Video and Film Production', 'Insurance',
       'IT Management and Support', 'Social Media and Communications',
       'Business Development', 'Electrical Engineering',
       'Non-Profit and Community', 'Legal', 'Military',
       'Musical Production', 'Mobile Telecommunications', 'Public Policy',
       'Industrial Management', 'Energy, Oil, and Gas'], dtype=object)

In [19]:
data['Skillset2'].unique()

array(['Digital Marketing', 'Web Development', 'Administration', 'Design',
       'Data Analysis', 'Software Engineering', 'Sales',
       'IT Management and Support', 'Business Development',
       'Human Resources', 'Mobile Telecommunications', 'Finance',
       'Web Design', 'Video and Film Production',
       'Non-Profit and Community', 'Electrical Engineering', 'Healthcare',
       'Operations Management', 'Product Management',
       'Manufacturing and Process Management', 'Insurance',
       'Social Media and Communications', 'Retail and Fashion',
       'Logistics', 'Legal', 'Hospitality', 'Military',
       'Musical Production', 'Industrial Management', 'Public Policy',
       'Real Estate', 'Energy, Oil, and Gas'], dtype=object)

In [20]:
# Enode skill set
# use one-hot encoding to encode skillsets
encodeSkill1 = pd.get_dummies(data['Skillset1'], prefix = 's1', prefix_sep='-')
encodeSkill2 = pd.get_dummies(data['Skillset2'], prefix = 's2', prefix_sep='-') 
data = data.drop(['Skillset1','Skillset2'], axis = 1)
data = data.join(encodeSkill1) 
data = data.join(encodeSkill2)
data.head()

,ID,Birth Year,Gender Flag,Skillset1 Weight,Skillset2 Weight,City of profile,Country of profile,Education,Elite Institution,Start Date,...,s2-Product Management,s2-Public Policy,s2-Real Estate,s2-Retail and Fashion,s2-Sales,s2-Social Media and Communications,s2-Software Engineering,s2-Video and Film Production,s2-Web Design,s2-Web Development
0,d5dc4adf-7444-38c2-84d7-10dcaa5cba78,2001,2,0.868526,0.085376,San Francisco,United States,0,0,2007/2/1,...,0,0,0,0,0,0,0,0,0,0
1,d5dc4adf-7444-38c2-84d7-10dcaa5cba78,2001,2,0.868526,0.085376,San Francisco,United States,0,0,2007/2/1,...,0,0,0,0,0,0,0,0,0,0
4,04f6646b-fdf1-3098-8112-ab9b1a3cb87f,1985,2,0.985448,0.006848,Mountain View,United States,4,0,2007/7/1,...,0,0,0,0,0,0,0,0,0,1
5,04f6646b-fdf1-3098-8112-ab9b1a3cb87f,1985,2,0.985448,0.006848,Mountain View,United States,4,0,2007/7/1,...,0,0,0,0,0,0,0,0,0,1
6,04f6646b-fdf1-3098-8112-ab9b1a3cb87f,1985,2,0.985448,0.006848,Mountain View,United States,4,0,2014/9/1,...,0,0,0,0,0,0,0,0,0,1

In [22]:
data.to_csv('newData1.csv')