In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import math
dataV1= pd.read_csv(r"C:\Ran\Berkeley\IEOR\290\Project\Data\TrainingDatasetV1.csv",encoding = "latin1")
dataV1.head()

D:\Anaconda\envs\data-x\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (2,11,13,30,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,ID,Birth Year,Gender Flag,Skillset1,Skillset1 Weight,Skillset2,Skillset2 Weight,City of profile,Country of profile,...,DegreeType,EliteFlag,Dummy1,Dummy2,Dummy3,Dummy4,Layoff Date,Company Name,Employees Affected,laid_off
0,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,Web Development,0.874223,Software Engineering,0.075843,NaN,United States,...,NaN,False,NaN,NaN,BBG000BWNFZ9,1497024570000,10/23/2015,"Western Digital Technologies, Inc.",56,0
1,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,Web Development,0.874223,Software Engineering,0.075843,NaN,United States,...,NaN,False,NaN,NaN,BBG000BWNFZ9,1497024570000,10/24/2016,"Western Digital Technologies, Inc.",59,0
2,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,Web Development,0.874223,Software Engineering,0.075843,NaN,United States,...,NaN,False,NaN,NaN,BBG000BWNFZ9,1497024570000,6/17/2016,"Western Digital Technologies, Inc.",71,0
3,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,Web Development,0.874223,Software Engineering,0.075843,NaN,United States,...,NaN,False,NaN,NaN,BBG000BWNFZ9,1497024570000,7/3/2016,"Western Digital Technologies, Inc.",337,0
4,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,Web Development,0.874223,Software Engineering,0.075843,NaN,United States,...,NaN,False,NaN,NaN,BBG000BWNFZ9,1497024570000,8/27/2018,"Western Digital Technologies, Inc.",79,0

In [2]:
# use one-hot encoding to encode skillsets
encodeSkill1 = pd.get_dummies(dataV1['Skillset1'], prefix = 's1', prefix_sep='-')
encodeSkill2 = pd.get_dummies(dataV1['Skillset2'], prefix = 's2', prefix_sep='-') 
dataV1 = dataV1.drop(['Skillset1','Skillset2'], axis = 1)
dataV1 = dataV1.join(encodeSkill1) 
dataV1 = dataV1.join(encodeSkill2)
dataV1.head()

,Unnamed: 0,ID,Birth Year,Gender Flag,Skillset1 Weight,Skillset2 Weight,City of profile,Country of profile,Education,Elite Institution,...,s2-Retail and Fashion,s2-Sales,s2-Sales Management,s2-Social Media and Communications,s2-Software Engineering,s2-Technical Product Management,s2-Video and Film Production,s2-Visual Design,s2-Web Design,s2-Web Development
0,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,0.874223,0.075843,NaN,United States,4,False,...,0,0,0,0,1,0,0,0,0,0
1,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,0.874223,0.075843,NaN,United States,4,False,...,0,0,0,0,1,0,0,0,0,0
2,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,0.874223,0.075843,NaN,United States,4,False,...,0,0,0,0,1,0,0,0,0,0
3,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,0.874223,0.075843,NaN,United States,4,False,...,0,0,0,0,1,0,0,0,0,0
4,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,0.874223,0.075843,NaN,United States,4,False,...,0,0,0,0,1,0,0,0,0,0

In [3]:
dataV1.columns

Index(['Unnamed: 0', 'ID', 'Birth Year', 'Gender Flag', 'Skillset1 Weight',
       'Skillset2 Weight', 'City of profile', 'Country of profile',
       'Education', 'Elite Institution',
       ...
       's2-Retail and Fashion', 's2-Sales', 's2-Sales Management',
       's2-Social Media and Communications', 's2-Software Engineering',
       's2-Technical Product Management', 's2-Video and Film Production',
       's2-Visual Design', 's2-Web Design', 's2-Web Development'],
      dtype='object', length=130)

In [4]:
not_laid_off = dataV1[dataV1['laid_off'] == 0]
laid_off = dataV1[dataV1['laid_off'] == 1]
print(len(not_laid_off)) # Too many observations classified as not laid off
print(len(laid_off))

np.random.seed(101)
drop_indices = np.random.choice(not_laid_off.index, 120000, replace=False)
not_laid_off = not_laid_off.drop(drop_indices)

dataV1 = pd.concat([not_laid_off, laid_off])
print('Training data size after dropping excessive observations: ', dataV1.shape)

128947
8040
Training data size after dropping excessive observations:  (16987, 130)

In [5]:
dataV1 = dataV1.dropna(subset=['laid_off'])
dataV1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16987 entries, 29 to 136986
Columns: 130 entries, Unnamed: 0 to s2-Web Development
dtypes: bool(5), float64(5), int64(5), object(21), uint8(94)
memory usage: 5.8+ MB

In [6]:
dataV1 = dataV1[dataV1['Birth Year' ]!= 'None']
dataV1['Birth Year'] = dataV1['Birth Year'].astype(float) #Convert from string to float to work for regression

dataV1 = dataV1.dropna(subset=['Length'])

In [7]:
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
y = dataV1['laid_off']
X = dataV1.drop(['Unnamed: 0', 'ID',
       'City of profile', 'Country of profile','Elite Institution',
       'Start Date', 'StartFlag', 'End Date',
       'EndFlag', 'CurrentEmployFlag', 'laid_off', 'Role', 'Dept', 'Company',
       'Company_Norm', 'Ticker', 'Exchange', 'PublicFlag','Location',
       'Industry', 'EducationFlag','DegreeType','EliteFlag','Layoff Date', 'Company Name','Dummy1','Dummy2','Dummy3','Dummy4'],axis = 1)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=101)
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

D:\Anaconda\envs\data-x\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [9]:
logreg.score(X_test,y_test)

0.797997644287397

In [10]:
print(len(y_train[y_train == 1]))
print(len(y_train[y_train == 0]))

5645
6240

In [11]:
print(len(y_test[y_test == 1]))
print(len(y_test[y_test == 0]))

2393
2701

In [12]:
from sklearn.metrics import confusion_matrix
y_true = y_test
y_pred = logreg.predict(X_test)
CM = pd.DataFrame(confusion_matrix(y_true, y_pred),columns = ['Predicted 0','Predicted 1'],\
                  index = ['Actual 0','Actual 1']
                 )
print ('Confusion matrix of test data is: \n', CM)

Confusion matrix of test data is:
           Predicted 0  Predicted 1
Actual 0         2045          656
Actual 1          373         2020

### Performing log regression on encoded training data:

In [13]:
dataV2= pd.read_csv(r"C:\Ran\Berkeley\IEOR\290\Project\Data\TrainingDatasetV2.csv",encoding = "latin1")

D:\Anaconda\envs\data-x\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (12,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)